<script>
  import AnchorButton from '$lib/AnchorButton.svelte'

  export let title, date, handle, summary, compact

  const formatDate = date => new Intl.DateTimeFormat('en-GB').format(new Date(date))
</script>

<div class="relative bg-gray-100 p-8 rounded-xl shadow-xl">
  <p class="text-xl font-semibold">{title}</p>
  <p class="text-gray-500 font-semibold"><time datetime={date}>{formatDate(date)}</time></p>
  {#if !compact}
    <p class="mt-5">{summary}</p>
  {/if}
  <div class="mt-5">
    <AnchorButton href="/blog/{handle}">View</AnchorButton>
  </div>
</div>
