<svg class="mx-auto" aria-labelledby="avatar-title" width="200px" height="200px" viewBox="0 0 264 280" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title id="avatar-title">Stephen Campbell avatar</title>
  <defs>
    <circle id="react-path-1" cx="120" cy="120" r="120"></circle>
    <path d="M12,160 C12,226.27417 65.72583,280 132,280 C198.27417,280 252,226.27417 252,160 L264,160 L264,-1.42108547e-14 L-3.19744231e-14,-1.42108547e-14 L-3.19744231e-14,160 L12,160 Z" id="react-path-2"></path>
    <path d="M124,144.610951 L124,163 L128,163 L128,163 C167.764502,163 200,195.235498 200,235 L200,244 L0,244 L0,235 C-4.86974701e-15,195.235498 32.235498,163 72,163 L72,163 L76,163 L76,144.610951 C58.7626345,136.422372 46.3722246,119.687011 44.3051388,99.8812385 C38.4803105,99.0577866 34,94.0521096 34,88 L34,74 C34,68.0540074 38.3245733,63.1180731 44,62.1659169 L44,56 L44,56 C44,25.072054 69.072054,5.68137151e-15 100,0 L100,0 L100,0 C130.927946,-5.68137151e-15 156,25.072054 156,56 L156,62.1659169 C161.675427,63.1180731 166,68.0540074 166,74 L166,88 C166,94.0521096 161.51969,99.0577866 155.694861,99.8812385 C153.627775,119.687011 141.237365,136.422372 124,144.610951 Z" id="react-path-3"></path>
  </defs>
  <g id="Avataaar" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g transform="translate(-825.000000, -1100.000000)" id="Avataaar/Circle">
      <g transform="translate(825.000000, 1100.000000)">
        <g id="Circle" stroke-width="1" fill-rule="evenodd" transform="translate(12.000000, 40.000000)">
          <mask id="react-mask-4" fill="white">
            <use xlink:href="#react-path-1"></use>
          </mask>
          <use id="Circle-Background" fill="white" xlink:href="#react-path-1"></use>
          <g id="Color/Palette/Blue-01" mask="url(#react-mask-4)" fill="white">
            <rect id="🖍Color" x="0" y="0" width="240" height="240"></rect>
          </g>
        </g>
        <mask id="react-mask-5" fill="white">
          <use xlink:href="#react-path-2"></use>
        </mask>
        <g id="Mask"></g>
        <g id="Avataaar" stroke-width="1" fill-rule="evenodd" mask="url(#react-mask-5)">
          <g id="Body" transform="translate(32.000000, 36.000000)">
            <mask id="react-mask-6" fill="white">
              <use xlink:href="#react-path-3"></use>
            </mask>
            <use fill="#D0C6AC" xlink:href="#react-path-3"></use>
            <g id="Skin/👶🏽-03-Brown" mask="url(#react-mask-6)" fill="#EDB98A">
              <g transform="translate(0.000000, 0.000000)" id="Color">
                <rect x="0" y="0" width="264" height="280"></rect>
              </g>
            </g>
            <path d="M156,79 L156,102 C156,132.927946 130.927946,158 100,158 C69.072054,158 44,132.927946 44,102 L44,79 L44,94 C44,124.927946 69.072054,150 100,150 C130.927946,150 156,124.927946 156,94 L156,79 Z" id="Neck-Shadow" fill-opacity="0.100000001" fill="#000000" mask="url(#react-mask-6)"></path>
          </g>
          <g id="Clothing/Shirt-Crew-Neck" transform="translate(0.000000, 170.000000)">
            <defs>
              <path d="M165.960472,29.2949161 C202.936473,32.3249982 232,63.2942856 232,101.051724 L232,110 L32,110 L32,101.051724 C32,62.9525631 61.591985,31.7649812 99.0454063,29.2195264 C99.0152598,29.5931145 99,29.9692272 99,30.3476251 C99,42.2107177 113.998461,51.8276544 132.5,51.8276544 C151.001539,51.8276544 166,42.2107177 166,30.3476251 C166,29.9946691 165.986723,29.6437014 165.960472,29.2949161 Z" id="react-path-359"></path>
            </defs>
            <mask id="react-mask-360" fill="white">
              <use xlink:href="#react-path-359"></use>
            </mask>
            <use id="Clothes" fill="#E6E6E6" fill-rule="evenodd" xlink:href="#react-path-359"></use>
            <g id="Color/Palette/Gray-01" mask="url(#react-mask-360)" fill-rule="evenodd" fill="#88bb66">
              <rect id="🖍Color" x="0" y="0" width="264" height="110"></rect>
            </g>
            <g id="Shadowy" opacity="0.599999964" stroke-width="1" fill-rule="evenodd" mask="url(#react-mask-360)" fill-opacity="0.16" fill="#000000">
              <g transform="translate(92.000000, 4.000000)" id="Hola-👋🏼">
                <ellipse cx="40.5" cy="27.8476251" rx="39.6351047" ry="26.9138272"></ellipse>
              </g>
            </g>
          </g>
          <g id="Face" transform="translate(76.000000, 82.000000)" fill="#000000">
            <g id="Mouth/Default" transform="translate(2.000000, 52.000000)" fill-opacity="0.699999988">
              <path d="M40,15 C40,22.7319865 46.2680135,29 54,29 L54,29 C61.7319865,29 68,22.7319865 68,15" id="Mouth"></path>
            </g>
            <g id="Nose/Default" transform="translate(28.000000, 40.000000)" fill-opacity="0.16">
              <path d="M16,8 C16,12.418278 21.372583,16 28,16 L28,16 C34.627417,16 40,12.418278 40,8" id="Nose"></path>
            </g>
            <g id="Eyes/Default-😀" transform="translate(0.000000, 8.000000)" fill-opacity="0.599999964">
              <circle id="Eye" cx="30" cy="22" r="6"></circle>
              <circle id="Eye" cx="82" cy="22" r="6"></circle>
            </g>
            <g id="Eyebrow/Outline/Default" fill-opacity="0.599999964">
              <g id="I-Browse" transform="translate(12.000000, 6.000000)">
                <path d="M3.63024536,11.1585767 C7.54515501,5.64986673 18.2779197,2.56083721 27.5230268,4.83118046 C28.5957248,5.0946055 29.6788665,4.43856013 29.9422916,3.36586212 C30.2057166,2.2931641 29.5496712,1.21002236 28.4769732,0.94659732 C17.7403633,-1.69001789 5.31209962,1.88699832 0.369754639,8.84142326 C-0.270109626,9.74178291 -0.0589363917,10.9903811 0.84142326,11.6302454 C1.74178291,12.2701096 2.9903811,12.0589364 3.63024536,11.1585767 Z" id="Eyebrow" fill-rule="nonzero"></path>
                <path d="M61.6302454,11.1585767 C65.545155,5.64986673 76.2779197,2.56083721 85.5230268,4.83118046 C86.5957248,5.0946055 87.6788665,4.43856013 87.9422916,3.36586212 C88.2057166,2.2931641 87.5496712,1.21002236 86.4769732,0.94659732 C75.7403633,-1.69001789 63.3120996,1.88699832 58.3697546,8.84142326 C57.7298904,9.74178291 57.9410636,10.9903811 58.8414233,11.6302454 C59.7417829,12.2701096 60.9903811,12.0589364 61.6302454,11.1585767 Z" id="Eyebrow" fill-rule="nonzero" transform="translate(73.000154, 6.039198) scale(-1, 1) translate(-73.000154, -6.039198) "></path>
              </g>
            </g>
          </g>
          <g id="Top" stroke-width="1" fill-rule="evenodd">
            <defs>
              <rect id="react-path-219" x="0" y="0" width="264" height="280"></rect>
              <path d="M167.308863,35.006118 C147.121091,23.3065109 127.128954,25.2219854 112.036894,29.0299707 C96.9448338,32.8379559 88.0168242,43.6513048 80.3566792,59.6480618 C76.5956048,67.5028569 74.3660182,76.7914798 74.0230569,85.4813651 C73.8884429,88.8932666 74.3484305,92.415154 75.267729,95.7003546 C75.6049405,96.9061873 77.4232441,101.086987 77.9224658,97.70885 C78.0885348,96.584253 77.4804043,95.0327505 77.4215529,93.8376154 C77.3444374,92.2693977 77.4273028,90.6807875 77.5341822,89.1149098 C77.7340739,86.1874141 78.2559568,83.3154127 79.1847257,80.524647 C80.5119249,76.5367405 82.2013644,72.212859 84.7874413,68.8480942 C91.1883705,60.5205939 102.268658,60.045883 111.066257,55.4635848 C110.302881,56.8686624 107.359637,59.1432635 108.379389,60.7268592 C109.083576,61.8207003 111.749474,61.4890712 113.022219,61.4539693 C116.370996,61.3623702 119.734993,60.7796791 123.042844,60.306974 C128.255923,59.5618115 133.140585,58.0517626 138.046555,56.2181078 C142.06299,54.7164165 146.650012,53.3257139 149.66868,50.1404701 C154.539813,55.1881187 160.809849,59.9345599 167.070414,63.1428706 C172.68835,66.0222267 181.748751,67.461069 185.182761,73.3006826 C189.2479,80.2147477 187.37751,88.7073939 188.619138,96.2008069 C189.091302,99.05041 190.164155,98.986558 190.751315,96.4378281 C191.748406,92.1082634 192.219217,87.6102098 191.901961,83.1592929 C191.183568,73.1114668 187.496636,46.7057251 167.308863,35.006118 Z" id="react-path-218"></path>
              <filter x="-0.8%" y="-2.0%" width="101.5%" height="108.0%" filterUnits="objectBoundingBox" id="react-filter-215">
                <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.16 0" type="matrix" in="shadowOffsetOuter1" result="shadowMatrixOuter1"></feColorMatrix>
                <feMerge>
                  <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                  <feMergeNode in="SourceGraphic"></feMergeNode>
                </feMerge>
              </filter>
            </defs>
            <mask id="react-mask-217" fill="white">
              <use xlink:href="#react-path-219"></use>
            </mask>
            <g id="Mask"></g>
            <g id="Top/Short-Hair/Short-Round" mask="url(#react-mask-217)">
              <g transform="translate(-1.000000, 0.000000)">
                <g id="Facial-Hair/Beard-Light" transform="translate(49.000000, 72.000000)">
                  <defs>
                    <path d="M101.428403,98.1685688 C98.9148372,100.462621 96.23722,101.494309 92.8529444,100.772863 C92.2705777,100.648833 89.8963391,96.2345713 83.9998344,96.2345713 C78.1033297,96.2345713 75.7294253,100.648833 75.1467245,100.772863 C71.7624488,101.494309 69.0848316,100.462621 66.5712661,98.1685688 C61.8461772,93.855604 57.9166219,87.9081858 60.2778299,81.4191814 C61.5083844,78.0369425 63.5097479,74.3237342 67.1506257,73.2459109 C71.0384163,72.0955419 76.4968931,73.2439051 80.4147542,72.4582708 C81.6840664,72.2035248 83.0706538,71.7508657 83.9998344,71 C84.929015,71.7508657 86.3159365,72.2035248 87.5845805,72.4582708 C91.5027758,73.2439051 96.9612525,72.0955419 100.849043,73.2459109 C104.489921,74.3237342 106.491284,78.0369425 107.722173,81.4191814 C110.083381,87.9081858 106.153826,93.855604 101.428403,98.1685688 M140.081033,26 C136.670693,34.4002532 137.987774,44.8580348 137.356666,53.6758724 C136.844038,60.8431942 135.33712,71.5857526 128.972858,76.214531 C125.718361,78.5816138 119.79436,82.5598986 115.54187,81.4501943 C112.614539,80.6863848 112.302182,72.290096 108.455284,69.1469801 C104.09172,65.5823153 98.6429854,64.0160432 93.1491481,64.2578722 C90.7785381,64.3622683 85.9841367,64.3374908 83.9999331,66.1604584 C82.0157295,64.3374908 77.2216647,64.3622683 74.8510547,64.2578722 C69.3568808,64.0160432 63.9081467,65.5823153 59.5445817,69.1469801 C55.6976839,72.290096 55.3856641,80.6863848 52.4583326,81.4501943 C48.2058427,82.5598986 42.2818421,78.5816138 39.0270077,76.214531 C32.6624096,71.5857526 31.1561652,60.8431942 30.642864,53.6758724 C30.0120926,44.8580348 31.3291729,34.4002532 27.9188335,26 C26.2597768,26 27.3540339,42.1288693 27.3540339,42.1288693 L27.3540339,62.4851205 C27.3856735,77.7732046 36.935095,100.655445 58.1080116,109.393004 C63.2861266,111.52982 75.0153111,115 83.9999331,115 C92.9845551,115 104.71374,111.860188 109.891855,109.723371 C131.064771,100.985813 140.614193,77.7732046 140.646169,62.4851205 L140.646169,42.1288693 C140.646169,42.1288693 141.740089,26 140.081033,26" id="react-path-232"></path>
                  </defs>
                  <mask id="react-mask-231" fill="white">
                    <use xlink:href="#react-path-232"></use>
                  </mask>
                  <use id="Lite-Beard" fill="#331B0C" fill-rule="evenodd" xlink:href="#react-path-232"></use>
                  <g id="Color/Hair/Brown" mask="url(#react-mask-231)" fill="#B58143">
                    <g transform="translate(-32.000000, 0.000000)" id="Color">
                      <rect x="0" y="0" width="264" height="244"></rect>
                    </g>
                  </g>
                </g>
                <mask id="react-mask-216" fill="white">
                  <use xlink:href="#react-path-218"></use>
                </mask>
                <use id="Short-Hair" stroke="none" fill="#28354B" fill-rule="evenodd" xlink:href="#react-path-218"></use>
                <g id="Skin/👶🏽-03-Brown" mask="url(#react-mask-216)" fill="#B58143">
                  <g transform="translate(0.000000, 0.000000) " id="Color">
                    <rect x="0" y="0" width="264" height="280"></rect>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
