<script>
  export let open
</script>

<div class:open={open} on:click id="nav-icon" aria-label="menu" aria-expanded={open}>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</div>
