<script>
  import { page } from '$app/stores'

  // Properties
  const links = [
    { url: '/', hero: true, dark: true, icon: 'house.svg', text: 'Home' },
    { url: '/blog', hero: true, dark: false, icon: 'file.svg', text: 'Blog' },
    { url: '/about', hero: false, dark: false, icon: 'user.svg', text: 'About Me' },
    { url: '/photography', hero: true, dark: false, icon: 'photo-camera.svg', text: 'Photography' },
  ]

  $: currentLink = links.find(l => l.url === $page.path) || { hero: false, dark: false }
  $: isHeroPage = currentLink.hero
  $: isDarkPage = currentLink.dark
</script>

<div class:absolute={isHeroPage} class="w-full py-4 sm:py-8">
  <nav class="text-white sm:max-w-xs mx-auto p-3 sm:pb-6" class:sm:border-b-2={isHeroPage} class:border-black={!isDarkPage} class:border-white={isDarkPage}>
    <div class="flex flex-row justify-around sm:justify-center mx-5">
      {#each links as link}
        <a class="relative text-xl has-tooltip flex justify-center w-36" href={link.url} sveltekit:prefetch class:opacity-30={$page.path === link.url} class:cursor-default={$page.path === link.url}>
          <span class:hidden={$page.path === link.url} class="tooltip whitespace-nowrap rounded shadow-lg py-2 px-4 bg-gray-100 text-black text-base font-normal mt-10">{link.text}</span>
          <img class:invert={!isDarkPage} width="32" height="32" src="/{link.icon}" alt={link.text}>
        </a>
      {/each}
    </div>
  </nav>
</div>

<style>
  .invert {
    filter: invert(1);
  }
</style>
