<script context="module">
  export const prerender = true

  export async function load({ page, fetch }) {
    const url = `/blog/api/${page.params.handle}`
    const res = await fetch(url)

    if (!res.ok) return { status: res.status, error: new Error(`Could not load ${url}`) }

    const { post } = await res.json()

    return { props: { post } }
  }
</script>

<svelte:head>
  <title>{post.matter.title} - Stephen Campbell</title>
  <meta name="description" content={post.matter.summary}>
</svelte:head>

<script>
  export let post
</script>

<div class="blog-post max-w-4xl w-full mx-auto mt-12 text-lg">
  <div class="mx-5">
    <header>
      <h1 class="text-4xl mb-12">{post.matter.title}</h1>
    </header>
    <article>
      {@html post.markdown}
    </article>
  </div>
</div>
