<script>
  import '../app.postcss'
  import 'highlight.js/styles/atom-one-dark-reasonable.css'

  import Nav from '$lib/Nav.svelte'
</script>

<div class="relative min-h-screen">
  <div class="pb-44">
    <Nav />
    <slot />
  </div>
  <footer class="absolute bottom-0 w-full h-44">
    <div class="max-w-4xl mx-auto py-8 text-center">
      <div class="m-5">
        <p>View this site on <a class="text-blue-700" href="https://gitlab.com/stephencampbell/personal-site">GitLab</a></p>
        <div>Icons made by <a class="text-blue-700" href="https://www.freepik.com" title="Freepik">Freepik</a> from <a class="text-blue-700" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      </div>
    </div>
  </footer>
</div>
