<script context="module">
  export const prerender = true
</script>

<script>
  import Avatar from '$lib/Avatar.svelte'
</script>

<svelte:head>
  <title>About Me - Stephen Campbell</title>
  <meta name="description" content="Web developer and hobbyist photographer, game developer and music producer.">
</svelte:head>

<div class="max-w-2xl w-full mx-auto mt-12 text-lg">
  <Avatar />
  <div class="max-w-5xl w-full mx-auto p-3 text-center">
    <h1 class="text-3xl sm:text-4xl md:text-5xl mt-6">About Me</h1>
  </div>
  <p class="m-5 mb-8 mt-3 sm:mt-8">
    I'm a web developer from Newcastle upon Tyne in England.
    I spend most of my free time on my hobbies, which include landscape photography,
    game development and music production.
  </p>
  <p class="m-5">View this site's source code on <a class="text-blue-700" href="https://gitlab.com/stephencampbell/personal-site">GitLab</a>!</p>
</div>
