<script context="module">
  export const prerender = true

  export async function load({ fetch }) {
    const url = '/blog/api/all'
    const res = await fetch(url)

    if (!res.ok) return { status: res.status, error: new Error(`Could not load ${url}`) }

    const { posts } = await res.json()

    return { props: { posts } }
  }
</script>

<svelte:head>
  <title>Blog - Stephen Campbell</title>
  <meta name="description" content="Blog about programming, tech, photography, music and whatever else takes my interest.">
</svelte:head>

<script>
  import ArticleCard from '$lib/ArticleCard.svelte'
  export let posts
</script>

<div class="flex flex-wrap content-center bg-gray-100 text-black py-40 sm:py-60 md:py-72">
  <div class="max-w-5xl w-full mx-auto p-3 text-center">
    <h1 class="text-5xl sm:text-6xl md:text-7xl font-light mb-52">Blog</h1>
  </div>
</div>

<div class="diagonal-box before:bg-gray-300 -mt-72 mb-16">
  <div class="sm:pb-16 md:pb-40 sm:pt-16 md:pt-32">
    <div class="max-w-5xl mx-auto">
      <div class="grid md:grid-cols-1 gap-8 mx-5">
        {#each posts as post}
          <ArticleCard {...post} />
        {/each}
      </div>
    </div>
  </div>
</div>
