<script context="module">
  export const prerender = true

  export async function load({ fetch }) {
    const url = '/blog/api/all'
    const res = await fetch(url)

    if (!res.ok) return { status: res.status, error: new Error(`Could not load ${url}`) }

    const { posts } = await res.json()

    return { props: { posts } }
  }
</script>

<svelte:head>
  <title>Stephen Campbell</title>
  <meta name="description" content="Blog about programming, tech, photography, music and whatever else takes my interest.">
</svelte:head>

<script>
  import ArticleCard from '$lib/ArticleCard.svelte'
  export let posts
</script>

<div class="flex flex-wrap content-center bg-gray-600 text-white py-40 sm:py-60 md:py-80">
  <div class="max-w-5xl w-full mx-auto p-3 text-center">
    <h1 class="text-8xl sm:text-8xl md:text-9xl lg:text-10xl font-light mb-10">Hello</h1>
    <h2 class="text-3xl sm:text-4xl md:text-5xl font-light mb-60">I'm a web developer<br>based in Newcastle upon Tyne</h2>
  </div>
</div>

<div class="diagonal-box before:bg-gray-900 -mt-72 mb-16">
  <div class="sm:pb-40 sm:pt-16 md:pt-32">
    <h2 class="relative text-white text-3xl sm:text-4xl md:text-5xl text-center mb-10 sm:mb-20">My latest articles</h2>
    <div class="max-w-5xl mx-auto">
      <div class="grid md:grid-cols-2 gap-8 mx-5">
        {#each posts as post}
          <ArticleCard compact {...post} />
        {/each}
      </div>
    </div>
  </div>
</div>
