<script context="module">
  export async function load({ fetch }) {
    const count = 10
    const apiKey = 'c76aba6f4aca034cf70e9878bff91758'
    const nsid = '82441578@N06'
    const endpoint = 'flickr.people.getPublicPhotos'

    // Flickr API URL
    const url = new URL('https://api.flickr.com/services/rest')

    // Request query parameters
    const params = {
      method: endpoint,
      api_key: apiKey,
      user_id: nsid,
      per_page: count,
      format: 'json',
      nojsoncallback: '1'
    }

    // Add parameters to URL
    Object.entries(params).forEach(([key, value]) => url.searchParams.append(key, value))

    // Send request and return photos
    const res = await fetch(url.href)

    if (!res.ok) return { status: res.status, error: new Error(`Could not load ${url}`) }

    const { photos } = await res.json()

    return { props: { photos: photos.photo } }
  }
</script>

<svelte:head>
  <title>Photography - Stephen Campbell</title>
  <meta name="description" content="Landscape photography from England and Scotland">
</svelte:head>

<script>
  export let photos
</script>

<div class="flex flex-wrap content-center bg-gray-100 text-black pt-36 pb-20 sm:py-52 md:py-72">
  <div class="max-w-5xl w-full mx-auto p-3 text-center">
    <h1 class="text-5xl sm:text-6xl md:text-7xl font-light">Photography</h1>
    <p class="mt-12 text-lg sm:text-xl">Landscape photography<br>from the North of England and Scottish Borders</p>
  </div>
</div>

<div class="max-w-4xl w-full mx-auto mt-12">
  {#each photos as photo}
    <div class="m-5">
      <!-- Image sizes from https://www.flickr.com/services/api/misc.urls.html -->
      <img src="https://live.staticflickr.com/{photo.server}/{photo.id}_{photo.secret}_c.jpg"
           srcset="https://live.staticflickr.com/{photo.server}/{photo.id}_{photo.secret}_n.jpg 400w,
                   https://live.staticflickr.com/{photo.server}/{photo.id}_{photo.secret}.jpg 600w,
                   https://live.staticflickr.com/{photo.server}/{photo.id}_{photo.secret}_c.jpg 800w,
                   https://live.staticflickr.com/{photo.server}/{photo.id}_{photo.secret}_b.jpg 1000w"
           sizes="(max-width: 400px) 400px,
                  (max-width: 600px) 600px,
                  (min-resolution: 120dpi) and (min-width: 1000px) 1000px,
                  800px"
           width="896" height="598" loading="lazy" alt={photo.title} title={photo.title}>
    </div>
  {/each}
  {#if photos.length}
    <p class="m-5 text-lg">See more on <a class="text-blue-700" href="https://www.flickr.com/photos/dundar126">Flickr</a>!</p>
  {/if}
</div>
