@tailwind base;

@layer base {
  .text-10xl {
    font-size: 16rem;
  }
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.diagonal-box {
  position: relative;
  padding: calc(100vh * 0.09719) 0;
}

.diagonal-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: skewy(-11deg);
  transform-origin: 50% 0;
  outline: 1px solid transparent;
  backface-visibility: hidden;
}

.blog-post p {
  @apply mt-5;
}

.blog-post h2 {
  @apply text-3xl mt-8;
}

.blog-post h3 {
  @apply text-2xl mt-5;
}

.blog-post h4 {
  @apply font-bold mt-5;
}

.blog-post pre {
  @apply bg-gray-100 p-5 overflow-x-auto;
}

@tailwind components;
@tailwind utilities;


